.main-headline {
    color: rgb(59, 179, 137);   
}
body{
    background-color: rgb(50, 19, 19);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family:monospace; ;
    color: white;
}
